<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appez.ezgithub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EzGithub"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:background="@color/black"
        android:theme="@style/Theme.Ezgithub">
        <activity android:name=".ui.detail.DetailUserActivity"></activity>
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>